body
{
    width: 500px;
    margin: auto;
}

header h1,h2
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

nav{
    border: 2px solid red;
}

* li {
    display:inline-block;
    text-decoration-line: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

p::first-letter {
    font-size: 150%;
    color: royalblue;
}





