body
{
    width: 500px;
    margin: auto;
}

header h1,h2
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: center;
}

nav {
    border: 2px solid;
    justify-content: center;
   
}

* li {
    display:inline-block;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

a {
    justify-content: center;
}

div p::first-letter {
    font-size: 150%;
    color: aqua;
}

footer {
    display: inline-block;
}

p {
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
}





